/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Ignore zip files
*.zip

# System / user files
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.local/
.profile
.ssh/
.sudo_as_admin_successful
install_7.0_en.sh